<form [formGroup]="formGroup">
    <div class="title">Add Contact</div>
    <div style="margin:5px">ID: 
        <input formControlName="id">
    </div>
    <div style="margin:5px">Start Time: 
        <input formControlName="startTime">
    </div>
    <div style="margin:5px">End Time: 
        <input formControlName="endTime">
    </div>
    <div style="margin:5px">Employee: 
        <input formControlName="employee">
    </div>
    <button class="button" (click)="reset()">Reset</button>
    <button class="button" (click)="save()">Save</button>
</form>