<form [formGroup]="formGroup">
    <div style="margin:5px">Employee ID: 
        <input formControlName="employeeID">
    </div>
    <div style="margin:5px">First Name: 
        <input formControlName="firstName">
    </div>
    <div style="margin:5px">Last Name: 
        <input formControlName="lastName">
    </div>
    <div style="margin:5px">Wage: 
        <input formControlName="wage">
    </div>
    <div style="margin:5px">Position: 
        <input formControlName="position">
    </div>
    <div style="margin:5px">Badge Number: 
        <input formControlName="badge">
    </div>
    <button class="button" (click)="reset()">Reset</button>
    <button class="button" (click)="save()">Save</button>
</form>