<form
[formGroup]="formGroup">
    <div>Employee ID: 
        <input formControlName="employeeID">
    </div>
    <div >First Name: 
        <input formControlName="firstName">
    </div>
    <div >Last Name: 
        <input formControlName="lastName">
    </div>
    <div >Wage: 
        <input formControlName="wage">
    </div>
    <div >Position: 
        <input formControlName="position">
    </div>
    <div>Badge Number: 
        <input formControlName="badge">
    </div>
    <button class="button" (click)="reset()">Reset</button>
    <button class="button" (click)="save()">Save</button>
</form>