<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group1">
        <button
          class="previous-btn"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </button>
        <button
          class="today-btn"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </button>
        <button
          class="next-btn"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
      </button>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
  </div>
  <br />
  <div>
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-month-view>

    <button class="btn btn-primary" (click)="showEmployeeForm()">Add Employee</button>
  </div>
  <app-employee-form *ngIf="showForm" (saved)="showForm = !showForm"></app-employee-form>