<div style="padding: 1em;">
    <table class="shift-table">
        <thead>
            <th>5:00 AM</th>
            <th>6:00 AM</th>
            <th>7:00 AM</th>
            <th>8:00 AM</th>
            <th>9:00 AM</th>
            <th>10:00 AM</th>
            <th>11:00 AM</th>
            <th>12:00 PM</th>
            <th>1:00 PM</th>
            <th>2:00 PM</th>
            <th>3:00 PM</th>
            <th>4:00 PM</th>
            <th>5:00 PM</th>
            <th>6:00 PM</th>
            <th>7:00 PM</th>
            <th>8:00 PM</th>
            <th>9:00 PM</th>
            <th>10:00 PM</th>
            <th>11:00 PM</th>
        </thead>
        <tbody>
            <td>
                
            </td>
        </tbody>
    </table>
</div>